{% extends "dije-admin/base.html" %}
{% load static %}
{% block title %}
Add Category
{% endblock title %}

{% block content %}
<div class="container tm-mt-big tm-mb-big">
    <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Add Category</h2>
                    </div>
                </div>
                <div class="row tm-edit-product-row">
                    <div class="col-12">
                        <form action="" class="tm-edit-product-form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <label for="name">Product Name
                                </label>
                                <input id="name" name="name" type="text" class="form-control validate" style="width: 100%;" required />
                            </div>

                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block text-uppercase">Add</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}