{% extends "dije-admin/base.html" %}

{% block title %}
  Delete Product
{% endblock title %}


{% block content %}
<div class="container col-6 mt-3">
    <div class="card bg-dark text-center m-5 p-5">
        <h1 class="text-danger">Delete Product</h1>
        <p class="text-light">Are you sure want to delete <strong>{{product.name}}</strong>?</p>
        <form method="post">
          {% csrf_token %}
          <button class="btn btn-danger" type="submit">Yes</button>
          <a href="{% url 'product' %}" class="btn btn-light">Cancel</a>
        </form>
    </div>

</div>
{% endblock content %}