{% extends 'accounts/base.html' %}

{% block title %}
  Register
{% endblock title %}

{% block content %}
  <div class="forms">
    <div class="form">
    
    {% for message in messages %}
        <p style="color: red;">{{ message }}</p>
    {% endfor %}
        
    <form method="post" autocomplete="off">
        {% csrf_token %}
        <h2>Sign In</h2>
        <div class="form-group">
            <input type="email" placeholder="Email" name="email" autocomplete="off" required>
        </div>
        <div class="form-group">
            <input type="password" placeholder="Password" name="pass1" autocomplete="off" required>
        </div>
        <div class="btn">
            <button type="submit">Login</button>
        </div>
      
    </form>
    <center>
      <p>Already have an account <a href="{% url 'login %'}">Login</a></p>
    </center>
    </div>
  </div>
{% endblock content %}